<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>合同会签</title>
    <link rel="stylesheet" th:href="@{/css/search_process.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/left-side-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/add_account.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">


    <script type="text/javascript" src="/static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/left-side-menu.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>

    <style type="text/css">
        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }


        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        td,th {
            padding: 0;
        }

        .pure-table {
            border-collapse: collapse;
            border-spacing: 0;
            empty-cells: show;
            border: 1px solid #cbcbcb;
        }

        .pure-table caption {
            color: #000;
            font: italic 85%/1 arial,sans-serif;
            padding: 1em 0;
            text-align: center;
        }

        .pure-table td,.pure-table th {
            border-left: 1px solid #cbcbcb;
            border-width: 0 0 0 1px;
            font-size: inherit;
            margin: 0;
            overflow: visible;
            padding: .5em 1em;
        }

        .pure-table thead {
            background-color: #e0e0e0;
            color: #000;
            text-align: left;
            vertical-align: bottom;
        }

        .pure-table td {
            background-color: #f2f2f2;
        }

        .pure-table-odd td {
            background-color: #f2f2f2;
        }
    </style>

</head>
<body>
<div class="top" style="z-index: 2">
    <span class="tt">合同管理系统</span>
    <span class="tt2">合同定稿</span>
    <span class="user_name">用户名</span>
    <input class="back" type="button" value="退出" style="width: 50px; height: 50px; border-radius: 50%;border: none">
</div>
<div class="left-side-menu" style="top:80px ;position: fixed">
    <div class="lsm-expand-btn">
        <div class="lsm-mini-btn">
            <label>
                <input type="checkbox" checked="checked">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="30" />
                    <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55" />
                    <path class="line--2" d="M0 50h80" />
                    <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45" />
                </svg>
            </label>
        </div>
    </div>
    <div class="lsm-container">
        <div class="lsm-scroll" >
            <div class="lsm-sidebar">
                <ul>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_2"></i><span>主页面</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li><a th:href="@{/index}"><span>首页</span></a></li>
                            <li><a th:href="@{/login}"><span>退出</span></a></li>
                        </ul>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_3"></i><span>合同管理</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li><a th:href="@{/draft}"><span>起草合同</span></a></li>
                            <li><a th:href="@{/sign}"><span>会签合同</span></a></li>
                            <li><a th:href="@{/finalize}"><span>定稿合同</span></a></li>
                            <li><a th:href="@{/approve}"><span>审批合同</span></a></li>
                            <li><a th:href="@{/finish}"><span>签订合同</span></a></li>
                        </ul>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_3"></i><span>查询统计</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li><a th:href="@{/search_contract}"><span>合同信息查询</span></a></li>
                        </ul>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_3"></i><span>基础数据管理</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li><a th:href="@{/addCustomer}"><span>新增客户</span></a></li>
                            <li><a th:href="@{/sear_account}"><span>查询客户</span></a></li>
                        </ul>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_1"></i><span>系统管理</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li><a th:href="@{/authorize/getAll}"><span>分配合同</span></a></li>
                            <li><a th:href="@{/addUser}"><span>增加用户</span></a></li>
                            <li><a th:href="@{/search}"><span>用户管理</span></a></li>
                            <li><a th:href="@{/addRole}"><span>角色管理</span></a></li>
                            <li><a th:href="@{/search_log}"><span>日志管理</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="right-main" style="margin-left: 200px">

    <!--  <table class="pure-table">-->
    <!--    <thead class="text-center" style="background-color: #3b3e47;color: white;">-->
    <!--    <tr>-->
    <!--      <th width="50%" align="center">待会签合同</th>-->
    <!--      <th align="center">起草时间</th>-->
    <!--      <th align="center">操作</th>-->
    <!--    </tr>-->
    <!--    </thead>-->
    <!--    -->
    <!--    <tr>-->
    <!--      <td>1</td>-->
    <!--      <td>Honda</td>-->
    <!--      <td>2021-12-14</td>-->
    <!--      <td class="operation">会签</td>-->
    <!--      <td class="del">删除</td>-->
    <!--    </tr>-->


    <!--    </tbody>-->
    <!--  </table>-->

    <table id="goods_table"  lay-filter="demo"></table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>

    </script>


</div>
</body>

</script>

<script src="/layui/layui.js"></script>

<script>
    layui.use(['table', 'laypage', 'layer'], function () {
        var table = layui.table;

        table.on('tool(demo)',function (obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID:' + data.num);
            }

            $.ajax({
                url:"/sign/middle",
                type:"post",
                dataType:"json",
                data:{
                    "contractNum":data.num,
                },
                success:function(data)
                {
                    console.log(data);
                    if(data == 1){
                        alert("增加成功");
                        window.location.href="/move/finalize"
                    }else if(data == 2){
                        alert("增加失败");
                    }else {
                        alert("增加失败");
                    }
                },
                error:function()
                {
                    alert("增加失败");
                }
            })
        })


        table.render({
            elem: '#goods_table'
            , id: 'goodsReload'
            , even: true //开启隔行背景
            , width: 800
            , url: '/goods/queryFinal'
            // , request: {
            //   pageName: 'pageNum',
            //   limitName: 'pageSize',
            // }
            ,count: 5
            ,page: true
            , limit: 1
            , limits: [1,2,3]
            , cols: [
                [
                    {field: 'num', title: '编号', width: 90, align: 'center'}
                    , {field: 'name', title: '合同名称', width: 150, align: 'center'}
                    , {field: 'beginTime', title: '开始时间', align: 'center'}
                    ,{fixed: 'right', width: 150, align:'center', toolbar: '#barDemo'}
                ]
            ]
        });
    });

</script>


</html>


