<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>登录和注册页面</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/normalize.min.css}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container right-panel-active">

  <!-- Sign In -->
  <div class="container__form container--signin">
    <form class="form" th:action="@{/register/check}">
      <h2 class="form__title">注 册</h2>
      <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
      <input name="UserName" type="text" placeholder="用户名" class="input" />
      <input name="Password0" type="password" placeholder="密码" class="input" />
      <input name="Password1" type="password" placeholder="确认密码" class="input" />
      <input type="submit" class="btn" value="注册"/>
    </form>
  </div>

  <!-- Overlay -->
  <div class="container__overlay">
    <div class="overlay">
      <div class="overlay__panel overlay--left">
        <a th:href="@{/login}"><button class="btn" id="signIn">登 录</button></a>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
<!--<script  th:src="@{/js/script.js}"></script>-->
</body>
</html>