<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.contractmanagementsystem.mapper.ContractMapper">

    <select id="getAllContract" resultType="Contract">
        select * from contract
    </select>

    <select id="queryContractByName" parameterType="String" resultType="Contract">
        select * from contract where name = #{name}
    </select>

    <select id="queryContractByNum" parameterType="Integer" resultType="Contract">
        select * from contract where num = #{num}
    </select>

    <insert id="addContract">
        insert into contract (name,customer,beginTime,endTime,content,userName,del)
        values (#{name},#{customer},#{beginTime},#{endTime},#{content},#{userName},#{del})
    </insert>

    <update id="updateContract">
        update contract set
        name = #{name},
        customer = #{customer},
        beginTime = #{beginTime},
        endTime = #{endTime},
        content = #{content},
        userName = #{userName},
        del = #{del}
        where name = #{name}
    </update>

    <delete id="deleteContract">
        delete from contract where name = #{name}
    </delete>

    <select id="getSignList" resultType="Contract">
        select * from contract where name = #{name}
    </select>

    <select id="getFinal" resultType="Contract">
        select * from contract where userName = #{userName}
    </select>

    <select id="getApprove" resultType="Contract">
        select * from contract where userName = #{userName}
    </select>

    <select id="getFinish" resultType="Contract">
        select * from contract where userName = #{userName}
    </select>

    <select id="getSign" resultType="Contract">
        select * from contract where userName = #{userName}
    </select>

</mapper>