.search-box{
    position: absolute;
    top: 9%;
    left: 90%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.sear{
    position: absolute;
    top: 88%;
    left: 85%;
}

.new{
    position: absolute;
    top: 88%;
    left: 80%;
}

.new_user{
    position: absolute;
    top: 88%;
    left: 85%;
}


.back{
    position: absolute;
    top: 88%;
    left: 90%;
}

.title{
    position: absolute;
    left: 10%;
}
.pure-table{
    position: absolute;
    top: 18%;
    left: 5%;
    width: 40%;
}

.page{
    position: absolute;
    top: 90%;
    left: 35%;
}
.search-box:hover>.search-txt{
    width: 200px;
    padding: 0 6px;
}

.search-box:hover>.search-btn{
    background: white;
}

.search-btn{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic.51yuansu.com%2Fpic2%2Fcover%2F00%2F44%2F67%2F5814b81eba16c_610.jpg&refer=http%3A%2F%2Fpic.51yuansu.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1642091534&t=566662c0cfa950b06ab9d848bfd66a86");
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.info{
    position: absolute;
    left: 50%;
    top: 40%;
    font-size: 20px;
}

.sear_user{
    background-image: url("../img/8560727.jpg");
}
